@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font: inter;
}

body {
    background: url(imgs/Group\ 8.jpg)
}

p {
    display: block;
    color: #DD4B75;
    font-size: 64px;
    height: 76px;
    width: 918px;
    margin: 60px 506px 0 496px;

}

img {
    display: block;
    margin: 50px 685px 0 695px;
}

.bttns {
    display: flex;
    gap: 110px;
    margin: 44px 0 0 700px;

}

li {
    list-style-type: none;
}

.btn {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 32px;
    width: 173px;
    background-color: #D9D9D9;
    text-align: center;
    padding: 10px 0;
}