@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font: inter;
}

body {
    background: url(imgs/Group\ 8.jpg)
}

.thanks {
    display: block;
    margin: 36px 0 0 764px;
    font-size: 96px;
    color: #DD4B75;
    padding-bottom: 20px;
}

.main   {
    margin: 0 0 0 678px;
    display: flex;
    
}

.main p {
    font-size: 64px;
    margin-top: 240px;
    margin-left: 10px;
}

a {
    display: block;
    width: 393px ;
    text-decoration: none;
    font-size: 40px;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    margin-left: 764px;
    margin-top: 32px;
    padding: 31px 0;
    border-radius: 30px;
}

.img1 {
    margin-left: 15px;
}